body{

    padding-top: 75px;
     background-image:url("http://cdn30.us1.fansshare.com/image/prettywallpapers/tumblr-on-pinterest-tumblr-quotes-background-designs-and-hipster-tumblr-hd-1697356828.jpg");
         background-size : cover;
    font-size: 17px;
}

body form{
    
    position: fixed;
   top: 50%;
   left: 45%;
   transform: translate(-30%, -50%);
   background: rgba(4, 29, 23, 0.5);
   padding: 50px;
   width: 400px;
   box-shadow: 0px 0px 25px 10px #00B4FF;
   border-radius: 15px;
}

body form .firs{

    float: right;
}

body form .simpankata{

    color: yellow;

}

body form .simpan{

    background: green;
    font-weight: bolder;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

input{

    border: none;
    border-radius: 3px;
}