body{

    background-color: blue;
}

body .form{

    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #fff;
    border-radius: 3px;
}

label {
    font-size: 10pt;
    color: #555;
  }